<h1>Results</h1>
<p><b>Bangla   =  </b><%= @gpa_b_1  %> and <%= @grade_b_1 %></p>

<p><b>English   =  </b><%= @gpa_e_1  %> and <%= @grade_e_1 %></p>

<p><b>Math  =  </b><%= @gpa_m  %> and <%= @grade_m %></p>

<p><b>Charu  =  </b><%= @gpa_c  %> and <%= @grade_c %></p>

<p><b>Krishi  =  </b><%= @gpa_k  %> and <%= @grade_k %></p>

<p><b>Bangladesh  =  </b><%= @gpa_b  %> and <%= @grade_b %></p>

<p><b>Sharirik  =  </b><%= @gpa_sh  %> and <%= @grade_sh %></p>

<p><b>Religion  =  </b><%= @gpa_r  %> and <%= @grade_r %></p>

<p><b>Science  =  </b><%= @gpa_sc  %> and <%= @grade_sc %></p>

<p><b>ICT  =  </b><%= @gpa_ict  %> and <%= @grade_ict %></p>

<p><b>Kormo  =  </b><%= @gpa_kormo  %> and <%= @grade_kormo %></p>
<br>

<p><b>Total Mark  =  </b><%= @total_mark  %></p>

<p><b>Average GPA  =  </b><%= @avg_gpa.round(2)  %></p>

<p><b>Grade  =  </b><%= @grade  %></p>



<%= link_to "Calculate Again", home_index_path %>